<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/Content/admin/css/styles.css" rel="stylesheet">
</head>
<body class="login-bg">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="#">微信后台登陆</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/custom.js"></script>
</body>
</html>
